.card img {
    height: 25vh;
    vertical-align: middle;
    width: 299px;

}


.blog-h {
    text-align: center;
    color: #FF3659;
    margin: 70px;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .card img {
        height: 22vh;
        margin-bottom: 60px;
        width: 580px;
    }
}

/* Mobile View  */
@media screen and (max-width: 576px) {
    .card img {
        height: 22vh;
        margin-bottom: 30px;
        width: 235px;
    }

    .text {
        text-align: justify;
    }
}